@use "pico-custom";
@use "pico-leaflet";
@use "columns";
@use "transition";
@use "notification";
@use "burger";

:root {
  --pico-nav-element-spacing-vertical: 0.5rem;
}

.navbar-container {
  background-color: var(--pico-background-color);
  width: 100%;
  border-bottom: 1px rgba(127, 127, 127, 0.1) solid;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

nav a {
  text-decoration: none;
}

span[role=alert] {
  color: #D93526;
  margin-bottom: 0.6rem;
  display: flex;
}

.error {
  color: #D93526;
  border: 1px solid #D93526;
}

input, textarea, select {
  margin-bottom: 0.4rem !important;
}

.centered-medium {
  max-width: 700px;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
}

.grayed-out {
  filter: opacity(0.3) grayscale(1) blur(5px);
}

.stacked {
  display: grid;
  grid-template-columns: 1fr;
}

.stacked > * {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
}

.grid.always {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));

  h1 {
    white-space: nowrap;
  }
}