@use "@picocss/pico/scss/pico" with (
  $theme-color: "zinc"
);

// reset pico styles for leaflet
.leaflet-container [role=button]:is([aria-current],:hover,:active,:focus),
.leaflet-container button:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=button]:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=reset]:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=submit]:is([aria-current],:hover,:active,:focus) {
  --pico-background-color: none;
  --pico-border-color: none;
  --pico-border-radius: 0;
}

.leaflet-container [role=button],
.leaflet-container button,
.leaflet-container input[type=button],
.leaflet-container input[type=reset],
.leaflet-container input[type=submit],
{
  --pico-background-color: none;
  --pico-border-color: none;
  --pico-border-radius: 0;
  padding: 0 0;
}

span.activity-type {
  font-size: 1.5rem;
  background: white;
  margin: 0 10px 0 0;
  border-radius: 20%;
}

:root {
  --pico-nav-element-spacing-vertical: 0rem;
}

.navbar-container {
  background-color: var(--pico-background-color);
  width: 100%;
  border-bottom: 1px rgba(127, 127, 127, 0.1) solid;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

nav a {
  text-decoration: none;
}

main.container {
  max-width: 960px;
}

span[role=alert] {
  color: #D93526;
  margin-bottom: 0.6rem;
  display: flex;
}

.error {
  color: #D93526;
  border: 1px solid #D93526;
}

input, textarea, select {
  margin-bottom: 0.4rem !important;
}
