@use "@picocss/pico/scss/pico" with (
  $theme-color: "zinc",
  $breakpoints: (
    // Small (landscape phones)
    // Font size: 17px
    sm: (
        breakpoint: 576px,
        viewport: 510px,
        //root-font-size: 106.25%,
        root-font-size: 110%,
      ),

    // Medium (tablets)
    // Font size: 18px
    md: (
        breakpoint: 768px,
        viewport: 700px,
        //root-font-size: 112.5%,
        root-font-size: 110%,
      ),

    // Large
    // Font size: 19px
    lg: (
        breakpoint: 1024px,
        viewport: 950px,
        //root-font-size: 118.75%,
        root-font-size: 110%,
      ),

    // Extra large
    // Font size: 20px
    xl: (
        breakpoint: 1280px,
        viewport: 1200px,
        //root-font-size: 125%,
        root-font-size: 110%,
      ),

    // Extra extra large
    // Font size: 21px
    xxl: (
        breakpoint: 1536px,
        viewport: 1450px,
        //root-font-size: 131.25%,
        root-font-size: 110%,
      )
  )
);

// reset pico styles for leaflet
.leaflet-container [role=button]:is([aria-current],:hover,:active,:focus),
.leaflet-container button:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=button]:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=reset]:is([aria-current],:hover,:active,:focus),
.leaflet-container input[type=submit]:is([aria-current],:hover,:active,:focus) {
  --pico-background-color: none;
  --pico-border-color: none;
  --pico-border-radius: 0;
}

.leaflet-container [role=button],
.leaflet-container button,
.leaflet-container input[type=button],
.leaflet-container input[type=reset],
.leaflet-container input[type=submit],
{
  --pico-background-color: none;
  --pico-border-color: none;
  --pico-border-radius: 0;
  padding: 0 0;
}

span.activity-type {
  font-size: 1.5rem;
  background: white;
  margin: 0 10px 0 0;
  border-radius: 20%;
}

:root {
  --pico-nav-element-spacing-vertical: 0.5rem;
}

.navbar-container {
  background-color: var(--pico-background-color);
  width: 100%;
  border-bottom: 1px rgba(127, 127, 127, 0.1) solid;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

nav a {
  text-decoration: none;
}

span[role=alert] {
  color: #D93526;
  margin-bottom: 0.6rem;
  display: flex;
}

.error {
  color: #D93526;
  border: 1px solid #D93526;
}

input, textarea, select {
  margin-bottom: 0.4rem !important;
}

.centered-medium {
  max-width: 700px;
  margin: 0 auto;
}